td
{
    border: 1px solid black;
}
table
{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
img
{
    width: 3em;
    height: 2em;
}
#titre_principal
{
    text-align: center;
}
body
{
    background-color: gray;
}
a:hover
{
    color: orange;
}
tr:nth-child(2n+1)
{
    background-color: cadetblue;
}
img:hover
{
    transform : scale(2);
}
tr:hover
{
    background-color: darkgoldenrod;
}

@media only screen and (max-width: 840px) {
    body {
      background-color: yellowgreen;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 840px) {
    body {
     background-color: thistle;
  }
}

.contour
{
   
    background: url('fond_degraderouge.png') repeat-x;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    box-shadow: 6px 6px 0px black;

}