td
{
    border: 1px solid black;
}
table
{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
img
{
    width: 5em;
    height: 5em;
}
#titre_principal
{
    text-align: center;
}
body
{
    background-color: gray;
}
a:hover
{
    color: orange;
}
tr:nth-child(2n+1)
{
    background-color: cadetblue;
}
img:hover
{
    transform : scale(5);
}

